MONGO_URI=mongodb://<username>:<password>@localhost:27017/backend-ledger?authSource=admin
PORT=9000
JWT_SECRET=your_secret_here

# Gmail OAuth2 (mailer ke liye)
EMAIL_USER=your_email@gmail.com
CLIENT_ID=your_google_client_id
CLIENT_SECRET=your_google_client_secret
REFRESH_TOKEN=your_google_refresh_token
